<!-- Outside Materials -->
<div class="card">
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col-11">
				Kinase Tissue Expression Summary
			</div>
			<div class="col-1">
				<button class="btn float-right" type="button" data-toggle="collapse" data-target="#ExpressionCollapse" aria-expanded="false" aria-controls="Expression" onclick="change_collapse_icon(this)">+</button>
			</div>
		</div>
	</div>
	<div id="ExpressionCollapse" class="collapse">
		<div class="card-body">
			<div class="row">
				<p>The expression of kinases varies widely across the human
				tissues assayed by the <a href="https://gtexportal.org/home/"
							  target="_blank">GTEx project</a>. To gain a better
						  understanding of the kinase tissue distribution, we've
						  created an <a
		 href="http://expression.darkkinome.org/?input_kinase=PKMYT1" target="_blank">application</a> that describes
	 and summarizes the expression of each dark kinase in the context of the
	 rest of the kinome. These visualizations show a snapshot of the data associated with [% kinase %]. The two anatograms show the five organs where [% kinase %] is most abundant. The graph summarizes the expression of the kinase across all the organ systems.</p>
				<p>This data can further explored at our <a href="http://expression.darkkinome.org/?input_kinase=[% kinase %]" target="_blank">Kinase Expression Data Application</a>.</p>
			</div>
			<hr/>
			<div class="row">
				<div class="col-3">
					<img src="/images/kinase_expression/top_5_anatograms/[% kinase %]-male.svg">
				</div>
				<div class="col-1"></div>
				<div class="col-3">
					<img src="/images/kinase_expression/top_5_anatograms/[% kinase %]-female.svg">
				</div>
				<div class="col-1"></div>
				<div class="col-3">
					<img src="/images/kinase_expression/kinase_percentile_graphs/[% kinase %].svg">
				</div>
			</div>
		</div>
	</div>
</div>
<br/>
