<main role="main" class="container">

<br/>
<br/>

<p/>The Dark Kinase Knowledgebase (the “DKK”) is being developed as a component
of the Kinase Data and Resource Generating Center (DRGC) - one of 3 DRGCs
supported as part of the Illuminating the Druggable Genome  (IDG) Common Fund
effort. The goal of the IDG program is to improve our understanding of the
properties and functions of proteins that are currently unannotated within the
three most commonly drug-targeted protein families: G-protein coupled receptors,
ion channels, and protein kinases.



<p/>The goal of the DKK is to generate, systematize and disseminate knowledge
about dark kinases, biological networks in which they function and connections
to cellular phenotypes and human disease. This is being done by (i) establishing
a knowledgebase covering the approximately 160 poorly understood “dark kinases”,
(ii) distilling primary data into functional biochemical and biological
information and promoting further research using genetic and chemical tools,
which we are also developing and making available, (iii) placing dark kinases
within a new and emerging network-level understanding of cell signaling and
physiology and (iv) identifying those dark kinases whose mutation or
mis-regulation is associated with human disease, making them possible
therapeutic targets.

<p/>This work is funded as part of the Illuminating the Druggable Genome Common
Fund program - U24-DK116204-01.

<p/>For more information, see:

<ul>
	<li><a href="druggablegenome.net">druggablegenome.net</a></li>
	<li><a href="https://pharos.nih.gov/idg/index">Pharos: Illuminating the Druggable Genome</a></li>
</ul>

<hr/>

<h2>Suggestions for Website Improvements</h2>

<p>Please email any suggestions for improvements directly to <a href="mailto:matthew.berginski@unc.edu">Matthew Berginski</a>.</p>

</main>
