<main role="main" class="container-fluid">

<br/>

<h1>Data Sources and Repositories</h1>

The data produced in association with the Kinase IDG will be deposited in
appropriate repositories as data is collected and quality controlled. The
computer code produced will also be made available through our github <a
href="https://github.com/IDG-Kinase">page</a>. In addition, for data types
without repositories, we will use our synapse <a href="https://www.synapse.org/#!Synapse:syn16984714/wiki/">group page</a> to distribute data.

<hr>

<h2>Data Downloads</h2>

We maintain downloadable collections of the data sets associated with this website:

<ul>
  <li><a href="data_sets/compounds.csv">Compounds</a> associated with Dark Kinases (CSV format)</li>
  <li><a href="data_sets/dark_NanoBRET.csv">NanoBRET Reagents</a> (CSV format)</li>
  <li><a href="data_sets/param_table.csv">PRM Peptides</a> for the dark kinases (CSV format)</li>
  <li><a href="javascripts/PPI/ppi.json">Protein Interaction Data</a> (JSON format)</li>
</ul>

<hr>

<h2>Kinase List</h2>

For reference, a complete list of the dark kinases follows, with corresponding
links to information about each kinase:

<br/>
<br/>

<ul class="list-unstyled row list-group-flush">
	[% FOREACH kinase IN all_kinases %]
	<li class="col-sm-1">
		<a href="/kinase/[% kinase %]">[% kinase %]</a>
	</li>
	[% END %]
</ul>

<hr>

<h2>Compound List</h2>

We have also compiled a set of <a href="/compounds">compounds</a> that can be used to assay the function of some of the understudied kinases:

<br/>
<br/>

<ul class="list-unstyled row list-group-flush">
	[% FOREACH this_compound IN compounds %]
	<li class="col-sm-2">
		<a href="/compounds/[% this_compound.name %]">[% this_compound.name %]</a>
	</li>
	[% END %]
</ul>

<hr>

<h2>NanoBRET List</h2>

We have also developed or cataloged <a href="/NanoBRET">NanoBRET</a> assays for a wide range of the understudied kinases:

<br/>
<br/>

<ul class="list-unstyled row list-group-flush">
	[% FOREACH this_NanoBRET IN NanoBRET %]
	<li class="col-sm-1">
		<a href="/kinase/[% this_NanoBRET.symbol %]">[% this_NanoBRET.symbol %]</a>
	</li>
	[% END %]
</ul>

</main>
