<main role="main" class="container">

<p>Hello and welcome to the Dark Kinase Knowledge Base Prototype. This website will serve as a test bed for ideas concerning how to display and collate information concerning understudied kinases.

<hr>

<div class="row">

  <div class="col">
    <img src="images/dark_tree.svg" width=700>
  </div>
</div>

<hr>

<p>List of Kinases:

<div class="row">
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_1 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_2 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_3 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_4 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_5 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_6 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_7 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_8 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_9 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
  <div class="col-1.5">
    <ul class="list-group list-group-flush">
    [% FOREACH kinase IN kinase_10 %]
      <a href="/kinase/[% kinase %]" class="list-group-item list-group-item-action">[% kinase %]</a>
    [%  END %]
    </ul>
  </div>
</div>

</main>
