<main role="main" class="container">


<p>Hello and welcome to the Dark Kinase Knowledge Base Prototype. This website will serve as a test bed for ideas concerning how to display and collate information concerning understudied kinases.

<p>List of Kinases:

<div class="row">
  <div class="col">
    [% FOREACH kinase IN kinase_1 %]
    <a href="/kinase/[% kinase %]">[% kinase %]</a><br>
    [%  END %]
  </div>
  <div class="col">
    [% FOREACH kinase IN kinase_2 %]
    <a href="/kinase/[% kinase %]">[% kinase %]</a><br>
    [%  END %]
  </div>
  <div class="col">
    [% FOREACH kinase IN kinase_3 %]
    <a href="/kinase/[% kinase %]">[% kinase %]</a><br>
    [%  END %]
  </div>
  <div class="col">
    <img src="images/kinase_tree.png" width=700>
  </div>
</div>


</main>
