<!-- Begin page content -->
<main role="main" class="container-fluid">

<div class=row>
  <div class="col-lg-6">
    <h1>[% kinase %]</h1>
    <h6 class="text-muted">[% description %]</h4>
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">Resources</h4>
      <hr>
      <a href="https://pharos.nih.gov/idg/targets/[% kinase %]">Pharos</a> |
      <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene=[% kinase %]">Gene Cards</a> |
      <a href="https://www.gtexportal.org/home/gene/[% kinase %]">GTex</a> |
      <a href="https://monarchinitiative.org/gene/HGNC%3A[% hgnc_num %]">Monarch Initiative</a> 
    </div>
    [% IF include_long_description == 1 %]
    <div class=card>
      [% kinase_text %]
    </div>
    [% END %]
    [% IF include_KO == 1 %]
    </br>
    <div class=card>
      <div class="card-header">
        Horizon KO HAP1 Cell Lines
      </div>
      <div class="card-body">
        [% FOREACH line_info IN KO_info %]
          <a href="[% line_info.8 %]">[% line_info.0 %]</a> 
        [% END %]
      </div>
    </div>
    [% END %]
    [% IF include_recomb == 1 %]
    </br>
    <div class=card>
      <div class="card-header">
        ThermoFisher Recombinant Protein
      </div>
      <div class="card-body">
        [% FOREACH line_info IN recomb_info %]
          <a href="[% line_info.2 %]">[% line_info.1 %]</a> 
        [% END %]
      </div>
    </div>
    [% END %]
  </div>
  <div class="col-lg-2">
  </div>
  <div class="col-lg-4">
    <img src="/images/single_kinase_trees/[% kinase %].svg">
  </div>
</div>


<div class="card-columns">
  [% IF include_ReNcell == 1 %]
  <div class=card>
    <div class="card-header">
      ReNcell Visualizations
    </div>
    <div class="card-body">
      <img height="400px" src="/images/ReNcell/[% kinase %].svg">
    </div>
  </div>
  [% END %]

  [% IF include_PRM == 1 %]
  <div class=card>
    <div class="card-header">
      PRM Peptides 
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        [% FOREACH peptide_info IN PRM_info %]
        <li class="nav-item">
          <a class="nav-link" id="[% peptide_info.1 %]-tab" data-toggle="tab" href="#[% peptide_info.1 %]" role="tab" aria-controls="[% peptide_info.1 %]">[% peptide_info.1 %]</a>
        </li>
        [% END %]
      </ul>
      <div class="tab-content" id="myTabContent">
        [% FOREACH peptide_info IN PRM_info %]
        <div class="tab-pane fade show" id="[% peptide_info.1 %]" role="tabpanel" aria-labelledby="[% peptide_info.1 %]-tab">
          <img width="600px" src="/images/PRM_standard_curves/[% peptide_info.2 %]">
        </div>
        [% END %]
      </div>
    </div>
  </div>
  [% END %]

  <div class="card">
    <div class="card-header">
      TCGA Data Summary
    </div>
    <div class="card-body">
      <ul class="nav nav-tabs" id="TCGATabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="mutation-tab" data-toggle="tab" href="#mutation" role="tab" aria-controls="mutation" aria-selected="true">Mutations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="CNV-tab" data-toggle="tab" href="#CNV" role="tab" aria-controls="CNV" aria-selected="false">Copy Number Variation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="mRNA-tab" data-toggle="tab" href="#mRNA" role="tab" aria-controls="mRNA" aria-selected="false">mRNA Expression</a>
        </li>
      </ul>
      <div class="tab-content" id="TCGATabs">
        <div class="tab-pane fade show active" id="mutation" role="tabpanel" aria-labelledby="mutation-tab">
          <img src="/images/mutation_heatmaps/[% kinase %].svg">
        </div>
        <div class="tab-pane fade" id="CNV" role="tabpanel" aria-labelledby="CNV-tab">
          <img src="/images/CNV_heatmaps/[% kinase %].svg">
        </div>
        <div class="tab-pane fade" id="mRNA" role="tabpanel" aria-labelledby="mRNA-tab">
          <img src="/images/mRNA_heatmaps/[% kinase %].svg">
        </div>
      </div>
    </div>
  </div>
</div>

</main>
