<!-- Begin page content -->

<main role="main" class="container-fluid">

  <script>
    function change_collapse_icon(button_obj) {
      button_val = button_obj.innerHTML;
      if (button_val == "+") {
        button_obj.innerHTML = "-";
      } else {
        button_obj.innerHTML = "+";
      }
    };
  </script>
	

<!-- Kinase Name/CORAL Vis -->
<div class=row>
  <div class="col-lg-6">
    <h1>[% kinase %]</h1>
    <h6 class="text-muted">[% description %]</h4>
    [% IF include_long_description == 1 %]
    <div class=card>
      [% kinase_text %]
    </div>
	</br>
    [% END %]
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-5">
    <img src="/images/single_kinase_trees/[% kinase %].svg">
  </div>
</div>

<hr/>


[% IF include_TCGA == 1 %]
<!-- TCGA Data -->
<div class="card">
  <div class="card-header">
    <div class="row align-items-center">
      <div class="col-11">
        TCGA Data Summary
      </div>
      <div class="col-1">
        <button class="btn float-right" type="button" data-toggle="collapse" data-target="#TCGACollapse" aria-expanded="false" aria-controls="TCGACollapse" onclick="change_collapse_icon(this)">+</button>
      </div>
    </div>
  </div>
  <div id="TCGACollapse" class="collapse">
	  <div class="card-body">
		  <div class="row align-items-center">
			  <div class="col-6">
				  <ul class="nav nav-tabs" id="TCGATabs" role="tablist">
					  <li class="nav-item">
						  <a class="nav-link active" id="mutation-tab" data-toggle="tab" href="#mutation" role="tab" aria-controls="mutation" aria-selected="true">Mutations</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" id="CNV-tab" data-toggle="tab" href="#CNV" role="tab" aria-controls="CNV" aria-selected="false">Copy Number Variation</a>
					  </li>
					  <li class="nav-item">
						  <a class="nav-link" id="mRNA-tab" data-toggle="tab" href="#mRNA" role="tab" aria-controls="mRNA" aria-selected="false">mRNA Expression</a>
					  </li>
				  </ul>
				  <div class="tab-content" id="TCGATabs">
					  <div class="tab-pane fade show active" id="mutation" role="tabpanel" aria-labelledby="mutation-tab">
						  <img src="/images/mutation_heatmaps/[% kinase %].svg">
					  </div>
					  <div class="tab-pane fade" id="CNV" role="tabpanel" aria-labelledby="CNV-tab">
						  <img src="/images/CNV_heatmaps/[% kinase %].svg">
					  </div>
					  <div class="tab-pane fade" id="mRNA" role="tabpanel" aria-labelledby="mRNA-tab">
						  <img src="/images/mRNA_heatmaps/[% kinase %].svg">
					  </div>
				  </div>
			  </div>
			  <div class="col-1">
			  </div>
			  <div class="col-5">
				  <h4>
					  These figures show a summary of data collected by the
					  cancer genome atlas for [% kinase %]. The mutations
					  heatmaps shows the fraction samples with each type of
					  genetic mutation, while the copy number variation shows
					  the percentage of samples where a deletion or amplication was
					  dectected. Finally, the mRNA expression tab shows the amount of mRNA
					  detected on a log-2 scale for each cancer type. The X-axis cancer type
					  abbreviations are <a href="https://gdc.cancer.gov/resources-tcga-users/tcga-code-tables/tcga-study-abbreviations" target="_blank">described here</a>. This summary of the cancer genome
					  atlas (TCGA) was collated from <a href="http://firebrowse.org/">firebrowse</a> developed by the Broad Institute. The code used to produce these figures is
					  available through <a href="https://github.com/IDG-Kinase/TCGA_Kinase_Analysis">github</a>.
				  </h4>
			  </div>
		  </div>
	  </div>
  </div>
</div>
</div>
<br/>
[% END %]

[% IF pdb_domain.include == 1 %]
[% INCLUDE 'kinase_page_components/PDB.tt' %]
[% END %]

[% IF compound.include == 1 %]
[% INCLUDE 'kinase_page_components/compounds.tt' %]
[% END %]

[% IF include_ReNcell == 1 %]
[% INCLUDE 'kinase_page_components/ReNcell.tt' %]
[% END %]

[% IF include_clustered_INDRA == 1 || include_APMS == 1%]
[% INCLUDE 'kinase_page_components/Interactions.tt' %]
[% END %]

[% IF include_PRM == 1 %]
[% INCLUDE 'kinase_page_components/PRM.tt' %]
[% END %]

[% IF include_KO == 1 || include_recomb == 1 || 
	  include_mouse_KO == 1 || include_NanoBRET == 1 %]
[% INCLUDE 'kinase_page_components/outside_materials.tt' %]
[% END %]

[% IF include_expression == 1 %]
[% INCLUDE kinase_page_components/expression.tt %]
[% END %]

[% INCLUDE 'kinase_page_components/reactome.tt' %]

<div class="alert alert-info col-12" role="alert">
	<h4 class="alert-heading">Outside Resources</h4>
	<hr>
	<a href="https://pharos.nih.gov/idg/targets/[% kinase %]" target="_blank">Pharos</a> |
	<a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene=[% kinase %]" target="_blank">Gene Cards</a> |
	<a href="https://www.gtexportal.org/home/gene/[% kinase %]" target="_blank">GTex</a> |
	<a href="https://monarchinitiative.org/gene/HGNC%3A[% hgnc_num %]" target="_blank">Monarch Initiative</a> 
</div>

</main>

<script src="../javascripts/PPI/findAllShortestPathsBetweenSourceTarget.js"></script>
<script src="../javascripts/PPI/ppi-viewer.js"></script>
