<main role="main" class="container">

<br/>
<br/>

<h1>Dark Kinase Knowledgebase Development Team</h1>

<br/>

<div class="row align-items-center">
  <div class="col-3">
    <img class="img-responsive" src="images/people/Matt.jpg" width=200>
  </div>
  <div class="col-1">
  </div>
  <div class="col-8">
	<h3>Matthew Berginski</h3>
	Matthew is a research scientist at the University of North Carolina in the
	departments of Biomedical Engineering and Pharmacology. He works as a
	bioinformatics specialist focusing on organizing and analyzing data related
	to the dark kinases.
  </div>
</div>

<br/>

<div class="row align-items-center">
  <div class="col-3">
    <img class="img-responsive" src="images/people/Nienke.jpg" width=200>
  </div>
  <div class="col-1">
  </div>
  <div class="col-8">
	<h3>Nienke Moret</h3>
    Nienke is a PhD candidate in Harvard's Chemical Biology program and the
    Therapeutics Graduate Program of Harvard's Initiative in Therapeutic
    Sciences.  She works in the Laboratory of Systems Pharmacology, mentored
    primarily by Peter Sorger, where she studies functional polypharmacology --
    the phenomenon that small molecule drugs derive efficacy from targeting
    multiple proteins. 
  </div>
</div>

<br/>

<div class="row align-items-center">
  <div class="col-3">
    <img class="img-responsive" src="images/people/Changchang.jpg" width=200>
  </div>
  <div class="col-1">
  </div>
  <div class="col-8">
	<h3>Changchang Liu</h3>
	Changchang is a PhD candidate in Harvard's Chemical Biology department. She
	works in Peter Sorger's lab, part of the Laboratory of Systems Pharmacology.
	Her project focuses on predicting binding affinities between small molecules
	and kinases using machine learning methods.
  </div>
</div>

<br/>

<div class="row align-items-center">
  <div class="col-3">
    <img class="img-responsive" src="images/people/Shawn.jpg" width=200>
  </div>
  <div class="col-1">
  </div>
  <div class="col-8">
	  <h3>Shawn Gomez</h3>
	  </p>Shawn’s research is in the area of systems biology, with a particular
	  emphasis on understanding the architecture and dynamics of gene-regulatory
	  and signal transduction networks. With an emphasis on the protein kinome
	  in cancer and infectious disease, a significant portion of the lab’s work
	  centers on the analysis and modeling of biomolecular systems at multiple
	  scales - spanning statistical and machine learning techniques to more
	  classical systems modeling approaches. This work is paired with
	  experimental efforts that focus on improving our understanding of network-
	  and systems-level principles of cellular behavior.

	  <p/>As Director of the FastTraCS program, Shawn further leads a
	  multidisciplinary effort to more rapidly translate basic science research
	  into tangible solutions that improve patient outcomes. A component of
	  UNC’s NCTraCS Institute and funded as part of UNC’s Clinical and
	  Translational Sciences Award (CTSA) through NCATS, FastTraCS efforts span
	  the range of drug, device and diagnostics development, with a strong focus
	  on the identification of high potential unmet clinical needs and emerging
	  healthcare opportunities within the UNC Healthcare System. The program has
	  a strong focus on derisking technologies for commercial development
	  through internal rapid prototyping and development or in collaboration
	  with academic and industry partners.
  </div>
</div>

<br/>

<div class="row align-items-center">
  <div class="col-3">
    <img class="img-responsive" src="images/people/Peter.jpg" width=200>
  </div>
  <div class="col-1">
  </div>
  <div class="col-8">
	  <h3>Peter Sorger</h3>
	  </p>Peter’s research focuses on the systems biology of signal transduction
	  networks controlling cell proliferation and death, the dysregulation of
	  these networks in cancer and inflammatory diseases and the mechanisms of
	  action of therapeutic drugs targeting signaling proteins. His group uses
	  mathematical and experimental approaches to construct and test
	  computational models of signaling in human and murine cells as a means to
	  understand and eventually predict the responses of cells and tumors to
	  drugs applied individually and in combination. The Sorger group also
	  develops open-source software for analyzing biological networks and it
	  participates in multiple collaborative programs working to improve data
	  reproducibility.

	  </p>As founding head of the Harvard Program in Therapeutic Sciences
	  (HiTS), Peter leads a university-wide effort to advance the basic and
	  translational science used to develop new medicines, identify responsive
	  patients and evaluate new drugs via precision clinical trials. He also
	  directs the primary research program in HiTS, the Laboratory of Systems
	  Pharmacology, which joins together faculty members from six institutions
	  in a multi-disciplinary effort to develop and apply new concepts in drug
	  discovery. Peter was co-founder of Merrimack Pharmaceuticals and Glencoe
	  Software and is an adviser to multiple public and private companies and
	  research institutes in the US, Europe and Japan.
  </div>
</div>

<br/>
<br/>

<hr/>

<br/>
<br/>

<h1>DRGC-Kinase Members</h1>

<ul>
	<li>Gary Johnson - University of North Carolina at Chapel Hill</li>
	<li>Tim Wilson - University of North Carolina at Chapel Hill</li>
	<li>Ben Major - University of North Carolina at Chapel Hill</li>
	<li>Reid Townsend - Washington University in St. Louis</li>
</ul>

</main>
