<main role="main" class="container">

<br/>
<br/>

<h1>List of Associated Publications</h1>
<br/>
<div class="row">
	<ul>
		
		<li>Tamir TY, Drewry DH, Wells C, Marjor MB, Axtman AD. PKIS deep dive yields a chemical starting point for dark kinases and a cell active BRSK2 inhibitor. Scientific Reports, 2020 <a href="https://doi.org/10.1038/s41598-020-72869-9">Available Here</a></li>
		<br/>
      
		<li>Berginski ME, Moret N, Liu C, Goldfarb D, Sorger PK, Gomez SM. The Dark Kinase Knowledgebase: an online compendium of knowledge and experimental results of understudied kinases. Nucleic Acids Research, 2020 <a href="https://doi.org/10.1093/nar/gkaa853">Available Here</a></li>
		<br/>
		<li>Moret N, Liu C, Gyori BM, Bachman JA, Steppi A, Taujale R, Huang L, Hug C, Berginski M, Gomez S, Kannan N, Sorger PK. Exploring the understudied human kinome for research and therapeutic opportunities. bioRxiv 2020 <a href="https://doi.org/10.1101/2020.04.02.022277">Available Here</a></li>
		<br/>
		<li>Tamir TY, Bowman BM, Agajanian MJ, Goldfarb D, Schrank TP, Stohrer T, Hale AE, Siesser PF, Weir SJ, Murphy RM, LaPak KM, Weissman BE, Moorman NJ, Major MB. Gain-of-function genetic screen of the kinome reveals BRSK2 as an inhibitor of the NRF2 transcription factor. J Cell Science 2020 <a href="https://doi.org/10.1242/jcs.241356">Available Here</a> / <a href="https://www.biorxiv.org/content/10.1101/832279v1">Associated Preprint</a></li>
		<br/>
		<li>
			Agajanian MJ, Walker MP, Axtman AD, Ruela-de-Sousa RR, Serafin DS, Rabinowitz AD, Graham DM, Ryan MB, Tamir T, Nakamichi Y, Gammons MV, Bennett JM, Couñago RM, Drewry DH, Elkins JM, Gileadi C, Gileadi O, Godoi PH, Kapadia N, Müller S, Santiago AS, Sorrell FJ, Wells CI, Fedorov O, Willson TM, Zuercher WJ, Major MB. WNT Activates the AAK1 Kinase to Promote Clathrin-Mediated Endocytosis of LRP6 and Establish a Negative Feedback Loop. Cell Rep. 2019 Jan 2;26(1):79-93.e8. <a href="https://doi.org/10.1016/j.celrep.2018.12.023">Available Here</a></li>
		<br />
		<li>Metz KS, Erika M.Deoudes EM, Berginski ME, Jimenez-Ruiz I, Aksoy BA, Hammerbacher J, Gomez SM, Phanstiel DH. Coral: Clear and Customizable Visualization of Human Kinome Data. Cell Systems. 2018 7(3 347-350). <a href="https://doi.org/10.1016/j.cels.2018.07.001">Available Here</a></li>
		<br />
		<li>Oprea TI, et al. Unexplored therapeutic opportunities in the human genome. Nature Reviews Drug Discovery. 2018 17(317-332). <a href="http://dx.doi.org/10.1038/nrd.2018.14">Available Here</a></li>
		<br />
		<li>Moret N, Clark N, Hafner M, Wang Y, Lounkine E, Medvedovic M, Wang J, Gray N, Jenkins J, Sorger P. Cheminformatics tools for analyzing and designing optimized small molecule libraries. bioRxiv 358978 (2018). <a href="https://doi.org/10.1101/358978">Available Here</a></li>
		<br />
		<li>Collins KAL, Stuhlmiller TJ, Zawistowski JS, East MP, Pham TT, Hall CR, Goulet DR, Bevill SM, Angus SP, Velarde SH, Sciaky N, Oprea TI, Graves LM, Johnson GL, Gomez SM. Proteomic analysis defines kinase taxonomies specific for subtypes of breast cancer. Oncotarget. 2018 <a href="https://dx.doi.org/10.18632/oncotarget.24337">Available Here</a></li>
		<br />
		<li>Gyori BM, Bachman JA, Subramanian K, Muhlich JL, Galescu L, Sorger PK. From word models to executable models of signaling networks using automated assembly. Molecular Systems Biology. 2017 13(11):954. <a href="https://dx.doi.org/10.15252%2Fmsb.20177651">Available Here</a></li>
	</ul>
</div>

</main>
