<main role="main" class="container">

</br>
</br>

<div class="row align-items-center">
  <div class="col-lg-3">
    <a href="http://phanstiel-lab.med.unc.edu/CORAL/">
      <img class="img-fluid" src="images/coral-logo.png">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-8">
    <h4>Coral: Clear and Customizable Visualization of Human Kinome Data</h4>
    </p>Coral is a user-friendly interactive web application for visualizing both
    quantitative and qualitative data. Unlike previous tools, Coral can encode
    data in three features (node color, node size, and branch color), allows
    three modes of kinome visualization (the traditional kinome tree as well
    as radial and dynamic-force networks) and generates high-resolution
    scalable vector graphic files suitable for publication without the need
    for refinement in graphic editing software. Due to its user-friendly,
    interactive, and highly customizable design, Coral is broadly applicable
    to high-throughput studies of the human kinome.
    </br>
    </p>Coral was developed in collaboration with the <a
       href="http://phanstiel-lab.med.unc.edu">Phanstiel lab</a> and is
     available through <a href="https://github.com/dphansti/CORAL">github</a>
     and the <a href="http://phanstiel-lab.med.unc.edu/CORAL/">web</a>.
  </div>
</div>

<div class=row>
  <br>
  <br>
</div>

<div class="row align-items-center">
  <div class="col-lg-3">
    <a href="http://www.smallmoleculesuite.org/apps/hms_small_mol/">
      <img class="img-fluid" src="images/small-molecule-logo.png">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-8">
    <h4>The Small Molecule Suite: A Set of Tools to Explore Small Molecule Perturbagens</h4>
    </p>The Small Molecule Suite is a collection of cheminformatics tools that
    allow researchers to get insight in the selectivity and similarity of
    compounds and build custom chemical genetics libraries based on desired
    target coverage and other user-specified criteria. The applications in the
    suite use state-of-the-art quantitative methods such as target affinity
    spectrum similarity and phenotypic fingerprint similarity, which are
    data-driven. The suite updates regularly to keep incorporating the latest
    published data.
    
	</p>The Small Molecule Suite was developed by the <a href="http://hits.harvard.edu/the-program/laboratory-of-systems-pharmacology/about/">Laboratory of Systems
		Pharmacology</a> and the <a href="">Laboratory for Statistical Genomics and Systems Biology</a>. It is freely available on <a href="https://github.com/sorgerlab/smallmoleculesuite">github</a> and the <a href="http://www.smallmoleculesuite.org/apps/hms_small_mol/">web</a>.
  </div>
</div>

<div class=row>
  <br>
  <br>
</div>

<div class="row align-items-center">
  <div class="col-lg-3">
    <a href="https://indralab.github.io/">
      <img class="img-fluid" src="images/indra_logo.png">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-8">
    <h4>INDRA</h4>
	</p>INDRA (Integrated Network and Dynamical Reasoning Assembler) is an
	automated model assembly system, originally developed for molecular systems
	biology and currently being generalized to other domains. INDRA draws on
	natural language processing systems and structured databases to collect
	mechanistic and causal assertions, represents them in a standardized form
	(INDRA Statements), and assembles them into various modeling formalisms
	including causal graphs and dynamical models. INDRA also provides knowledge
	assembly procedures that operate on INDRA Statements and correct certain
	errors, find and resolve redundancies, infer missing information, filter to
	a scope of interest and assess belief.
  </div>
</div>

<div class=row>
  <br>
  <br>
</div>

<div class="row align-items-center">
  <div class="col-lg-3">
    <a href="https://www.sgc-unc.org/kcgs">
      <img class="img-fluid" src="images/KCGS_logo.png">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-8">
    <h4>IDG Chemical Tools</h4>
	</p> The Kinase Chemogenomic Set (<a href="https://www.sgc-unc.org/kcgs" target = "_blank">KCGS</a>) is a collection of narrow
	spectrum small molecule kinase inhibitors that is available from the
	SGC-UNC. The set contains inhibitors with sub-µM biochemical activity on 39
	dark kinases. Each inhibitor has been cross-screened on hundreds of human
  kinases and demonstrates a selectivity index at 1 µM < 0.05 (number of kinases
  inhibited by 90% divided by the total number of kinases screened). KCGS is
  <a href="https://www.sgc-unc.org/request-kcgs" target = "_blank">available</a> in aliquots of 1 µL of a 10 mM DMSO solution
	   in 96 well plates.

	   </p>Dark kinase inhibitors that demonstrate IC50 < 1 µM in a live cell NanoBRET
	   assay have been designated as IDG Chemical Tools. A list of the current
	 IDG Chemical Tools can be found <a href="/compounds" target = "_blank">here</a>.
  </div>
</div>

<div class=row>
  <br>
  <br>
</div>

<div class=row>
	<h2>Preview Tools and Applications</h2>
</div>

<div class=row>
  <br>
  <br>
</div>

<div class="row align-items-center">
  <div class="col-lg-3">
    <a href="http://gtex-dk.darkkinome.org">
      <img class="img-fluid" src="images/GTEx-DK_logo.png">
    </a>
  </div>
  <div class="col-lg-1">
  </div>
  <div class="col-lg-8">
    <h4>GTEx Dark Kinase Data Browser</h4>
	</p>We've working on developing a <a
	href="http://gtex-dk.darkkinome.org" target="_blank">browser</a> for the expression data
collected by the <a href="https://www.gtexportal.org/home/" target="_blank">GTEx consortium</a>
with a focus on the relative expression of the dark kinases in context with the
entire kinome. This browser displays understudied kinases with especially high
expression in the tissues that have been studied by the GTEx consortium. The
results can be browsed on the basis of specific kinases or organ/tissue systems.
  </div>
</div>

<!-- <div class=row> -->
<!--   <div class="col-lg-3"> -->
<!--     <a href="http://www.grcalculator.org/grtutorial/Home.html"> -->
<!--       <img class="img-fluid" src="images/GR-logo.png"> -->
<!--     </a> -->
<!--   </div> -->
<!--   <div class="col-lg-1"> -->
<!--   </div> -->
<!--   <div class="col-lg-8"> -->
<!--     <h4>GRbrowser and GRcalulator: Parameterizing Drug Response</h4> -->
<!--   </div> -->
<!-- </div> -->


</main>
