<main role="main" class="container">

<br/>
<br/>

<h1>IDG Kinase - Tool Compound - UNC-CAF-181</h1>

<hr/>

<div class="row">
    <div class="col-6">
<img src="/images/compounds/UNC-CAF-181-structure.png"style='height: 100%; width: 100%; object-fit: contain'>
    </div>
	<div class="col-6">
		<p><b>Kinase Target</b>: <a href="/kinase/CDKL2">CDKL2</a></p>
		<p><b>Chemical Name</b>: N-(5-(((5-(tert-butyl)oxazol-2-yl)methyl)thio)thiazol-2-yl)-2-(4-methylpiperazin-1-yl)isonicotinamide</p>
		<p><b>CHEBI</b>:143105</p>
		<p><b>Smile String</b>: O=C(NC1=NC=C(S1)SCC2=NC=C(O2)C(C)(C)C)C3=CC=NC(N4CCN(C)CC4)=C3</p>
		<p><b>Chemical Formula</b>: C22H28N6O2S2</p>
		<p><b>Molecular Weight</b>: 472.63</p>
		<p><b>cLogP</b>:0.951</p>
		<p><b>Source</b>: SGC-UNC</p>
	</div>
</div>

<hr/>

<div class="row">
	<p>This compound is available through special request from the UNC-SGC.</p>
</div>
<div class="row">
	<p>Additional data concerning this compound can be found <a href="/compound_data_sheets/CDKL2 DK Chemical Tool PDF.pdf">here</a>.</p>
</div>

</main>
