<main role="main" class="container-fluid">

<br/>
<br/>

	<script>
		function change_collapse_icon(button_obj) {
			button_val = button_obj.innerHTML;
			if (button_val == "+") {
				button_obj.innerHTML = "-";
			} else {
				button_obj.innerHTML = "+";
			}
		};
	</script>

<h1>IDG Kinase - NanoBRET Assays</h1>

[% USE Dumper %]

<!-- [% Dumper.dump_html(NanoBRET_info) %] -->

<div class=card>
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col-11">
				NanoBRET Assay Protocol
			</div>
			<div class="col-1">
				<button class="btn float-right" type="button" data-toggle="collapse" 
												  data-target="#ProtocolCollapse" aria-expanded="false" 
											  aria-controls="ProtocolCollapse" onclick="change_collapse_icon(this)">+</button>
			</div>
		</div>
	</div>

	<div id="ProtocolCollapse" class="collapse">
		<div class="card-body">
		
			[% INCLUDE 'NanoBRET/NanoBRET_protocol.tt' %]

		</div>
	</div>
</div>

<br/>

<div class=card>
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col-11">
				NanoBRET Assay List
			</div>
			<div class="col-1">
				<button class="btn float-right" type="button"
									data-toggle="collapse"
		 data-target="#ListCollapse" aria-expanded="false"
							   aria-controls="ListCollapse"
		  onclick="change_collapse_icon(this)">+</button>
			</div>
		</div>
	</div>
	<div id="ListCollapse" class="collapse">
		<div class="card-body">
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Kinase</th>
							<th scope="col">Kinase Fusion Name</th>
							<th scope="col">Kinase Fusion Catalog Number</th>
							<th scope="col">Tracer Name</th>
							<th scope="col">Tracer Catalog Number</th>
							<th scope="col">Tracer Concentration</th>
							<th scope="col">Additional Tracer Information</th>
						</tr>
					</thead>
					<tbody>
						[% FOREACH this_NanoBRET = NanoBRET_info %]
						<tr>
							<td><a href="/kinase/[% this_NanoBRET.symbol %]">[% this_NanoBRET.symbol %]</a></td>
							<td>[% this_NanoBRET.fusion_name %]</td>
							<td><a href="[% this_NanoBRET.vector_url %]" target="_blank">[% this_NanoBRET.vector_catalog_number %]</a></td>
							<td>[% this_NanoBRET.tracer_id %]</td>


							[% IF this_NanoBRET.tracer_catalog_number != "NA" %]
							<td><a href="[% this_NanoBRET.tracer_catalog_URL %]">[% this_NanoBRET.tracer_catalog_number %]</a></td>
							[% ELSE %]
							<td>[% this_NanoBRET.tracer_catalog_number %]</td>
							[% END %]
							<td>[% this_NanoBRET.concentration %]</td>

							[% IF this_NanoBRET.tracer_sheet_file != "NA" %]
							<td><a href="tracer_sheets/[% this_NanoBRET.tracer_sheet_file %]" target="_blank">Here</a></td>
							[% ELSE %]
							<td>NA</td>
							[% END %]

						</tr>
						[% END %]
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</main>
