<main role="main" class="container">

<br/>
<br/>

	<script>
		function change_collapse_icon(button_obj) {
			button_val = button_obj.innerHTML;
			if (button_val == "+") {
				button_obj.innerHTML = "-";
			} else {
				button_obj.innerHTML = "+";
			}
		};
	</script>

<h1>IDG Kinase - NanoBRET Assays</h1>

[% USE Dumper %]

<!-- [% Dumper.dump_html(NanoBRET_info) %] -->

<div class=card>
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col-11">
				NanoBRET Assay Protocol
			</div>
			<div class="col-1">
				<button class="btn float-right" type="button" data-toggle="collapse" 
												  data-target="#ProtocolCollapse" aria-expanded="false" 
											  aria-controls="ProtocolCollapse" onclick="change_collapse_icon(this)">+</button>
			</div>
		</div>
	</div>

	<div id="ProtocolCollapse" class="collapse">
		<div class="card-body">
		
			[% INCLUDE 'NanoBRET/NanoBRET_protocol.tt' %]

		</div>
	</div>
</div>

<br/>

<div class=card>
	<div class="card-header">
		<div class="row align-items-center">
			<div class="col-11">
				NanoBRET Assay List
			</div>
			<div class="col-1">
				<button class="btn float-right" type="button"
									data-toggle="collapse"
		 data-target="#ListCollapse" aria-expanded="false"
							   aria-controls="ListCollapse"
		  onclick="change_collapse_icon(this)">+</button>
			</div>
		</div>
	</div>
	<div id="ListCollapse" class="collapse">
		<div class="card-body">
			<div class="row">
				<table class="table">
					<thead>
						<tr>
							<th scope="col">Kinase</th>
							<th scope="col">Kinase Fusion Name</th>
							<th scope="col">Catalog Number</th>
						</tr>
					</thead>
					<tbody>
						[% FOREACH this_NanoBRET = NanoBRET_info %]
						<tr>
							<td><a href="/kinase/[% this_NanoBRET.symbol %]">[% this_NanoBRET.symbol %]</a></td>
							<td>[% this_NanoBRET.fusion_name %]</td>
							<td><a href="[% this_NanoBRET.vector_url %]" target="_blank">[% this_NanoBRET.vector_catalog_number %]</a></td>
						</tr>
						[% END %]
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</main>
